<div class="row">
  <div class="col-xs-6">
<%= link_to '客户流水账', customers_path, class: 'btn btn-primary'  %>
  </div>
  <div class="col-xs-6">
<%= link_to '收支流水账', fees_path , class: 'btn btn-primary' %>
  </div>
</div>