<%= form_for([@book, @fee]) do |f| %>


  <div class="field">
    <%= f.label '费项名称' %><br>
    <%= f.text_field :fee_name %>
  </div>
  <div class="actions">
    <%= f.submit '保存', class:'btn btn-primary' %>
  </div>
<% end %>
