.fixed-box {

  width: 100%;
  min-height: 50px;
  padding-top: 5px;
  position: fixed;
  top: 0px;
  background-color: grey;
  z-index: 10;

}

.fix_top {
  height: 50px;
  clear: both;
  border: 1px;

}

.hlable {
  font-size: 18px;
  color: white;
  overflow: auto;
}