
.fixed-box {
  width: 100%;
  min-height: 25px;
  padding-top: 5px;
  top: 0px;
  background-color: black;
  z-index: 10;

}

.fix_top {
  height: 25px;
  clear: both;
  border: 1px;
}


.hlable {
  font-size: 18px;
  color: white;
  overflow: auto;
}

.amount_input {
  width: 100%;
}

.breadcrumb {
  background: none;
  border: 0px solid rgba(245, 245, 245, 1);
  border-radius: 4px;
  display: block;
}

.breadcrumb li {
  font-size: 18px;
}

.breadcrumb a {
  color: rgba(66, 139, 202, 1);
}

.breadcrumb a:hover {
  color: rgba(255, 255, 255, 1);
}

.breadcrumb > .active {
  color: rgba(255, 255, 255, 1);
}

.breadcrumb > li + li:before {
  color: rgba(204, 204, 204, 1);
  content: "\276F\00a0";
}

.btn-submit {
  font-size: 16px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #dbd566;
}

.alert1 {
  /* padding: 15px; */
  /* margin-bottom: 20px; */
  border: 1px solid transparent;
  border-radius: 4px;
}

.numeric{
  text-align: right;
}



.head_sum{
  text-align: right;
  font-size: 20px;
  font-weight: bolder;
  
}

.comment{
  max-width: 300px;
}

.tableHeader{
  background-color: #EEE;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;	
}

.sumTable{
  display: table-row;
  background-color: orange;
  font-size: 18px;
  font-weight: bolder;	
}

/* DivTable.com */
.divTable label{
  min-width: 100px;
  float:left;
}


.divTable {
	display: table;
  width: 100%;
  
}


.divTableRow {
	display: table-row;
}

.divTableRow:hover{
  background-color: #dbd566;
}

.divTableHeading {
  display: table-row;
  background-color: #EEE;
  text-align: right;
  font-size: 18px;
  font-weight: bolder;	
}
.divTableCell {
    border: 1px solid #ddd;
	display: table-cell;
	padding: 3px 10px;
    text-align: left;
}

.divTableBody {
	display: table-row-group;
}